bin
lib
dist
temp
.temp
.cache
.data

/docs
/external
tsconfig.temp.json

TODO.md
CLAUDE.md

yarn.lock
yalc.lock
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
tsconfig.tsbuildinfo
report.*.json

.claude
.eslintcache
.DS_Store
.idea
.vscode
.yarn
*.suo
*.ntvs*
*.njsproj
*.sln
